h3[style="padding-top:1.5em"]
  =link_to event.summary, event_path(event)
h5= "#{event.group}"
h5= event.dtstart.localtime.strftime("%B %e, %Y %I:%M%p")
= event.description.html_safe
.clear
h4.pull-right  = link_to "See the details of this event...", event.url
= render partial: "event_commands", locals: { event: event }