h1 Import all events from all iCAL feeds?
.form-actions
  = link_to "Import Now", import_events_path, class: "btn btn-primary", method: :post
  = link_to "Go back", events_path, class: "btn btn-warning"