h1.page-header Upcoming Local Tech-Related Events
= render(@events) || "<h2>No events currently listed.</h2>".html_safe
.clear[style="padding-top:3em"]
= paginate @events

#calendar data-events=@event_json