@import url(http://fonts.googleapis.com/css?family=Orbitron);
$codeBlue: #0074b2;
$codeGrey: #EDEDED;

$bodyWidth: 980px;
$mainColumnWidth: 804px;
$bMargin: 95px;
$singleColumnModeMargin: 40px;
$outlineWidth:0px;

.container {
  width: inherit;
  
}

.fc-day-header, .fc-day-number{
  font-family: "Orbitron";
}

.mainColumn{
  h1, h2, h3{
    font-family: "Orbitron";
  }
 
  div.jumbotron{
    border-radius:0px;
  }
padding: 10%;
outline: $outlineWidth solid red;
padding-top: 20px;
padding-bottom: 0px;
  max-width: 1300px;
}

.loginRow{
  height:  30px;
  margin-bottom:95px;
}

a.loginTrigger{
  float: right;
  margin-bottom: $bMargin;
  padding-right: 20px;
  img{
    padding-left: 6px;
  }
}

nav.topNav{
  width: 100%;
  background-color: $codeGrey;
  margin-bottom: $bMargin;
  position:relative;
   button{
color: $codeBlue;
}
  left: 10px;
  button{
    float:left;
  }
  ul li a{
    &:hover{
      text-decoration: underline;
    }
  }
}


.cornerLogo{
  img{
    width: 125px;
    height: 104px;
  }
  position: absolute;
  top:  -27px;
  right: 30px;
  float:right;
  z-index: 99;
}

.jumbotron{
  border-radius: 0px;
  -webkit-border-radius: 0px;

  width: 100%;
  padding: 0px;
  min-height:  300px;
  margin-bottom: $bMargin;
  background: url(asset-path("codeSlide.jpg"));
    background-size: 100% 100%;         /* Generic*/
  .jumbotronText{
    font-size: 12px;
    width: 60%;
    float:left;


  }
}

#carouselTry{
  height: 300px;
  .item{
    height: 300px;
    background-color:red;
  }
  #introSlide{
    background-color:green;
    background: url(asset-path("codeSlideBg.jpg"));
    background-size: 100% 100%;         
    color: white;
    .introText{
      padding-top: 20px;
      font-size: 30px;
      font-family: "Orbitron";
      text-align: center;
      position: relative;
      top: 18px;
    }
    .introLogo{
      text-align: center;
      img{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  #techMixSlide{
    background: url(asset-path("techmixSlideBg.jpg"));
    background-size: 100% 100%;
    text-align: center;
    color: white;
    padding: 30px;
    overflow: auto;
  }
  .prevSlideButton{
    color: white;
    position: absolute;
    bottom: 18px;
    right: 40px;
  }
  .nextSlideButton{
    color: white;
    position: absolute;
    bottom: 18px;
    right: 10px;
  }
  margin-bottom: $bMargin;
}


.mainBlocks .block{
 background-color: $codeBlue;
 color: white;
 font-size: 32px;
 font-family:  "Orbitron";
 margin-bottom: 30px;
 text-align: center;
}


.mainBlocks{
  h1{
    font-family: "Orbitron";
  }
  margin-bottom: $bMargin;
}
 
.mainBlocks .block:hover, .mainBlocks .block:focus, .mainBlocks .block:active{
  outline: 2px solid black;
}


.block{
  display: block;
}

.mainBlocks .promoBlock{
  color: $codeBlue;
  width: 100%;
  background-color: white;
  height:  150px;
  .promoContent{
    float:right;
    width: 73%;
    padding-top: 50px;
    position:relative;
  }
  .promoOverlay{
    background-color: $codeBlue;
    color: white;
    width: 27%;
    padding-top: 0px;
    float: left;
    height: 100%;
    img{
      padding: 0px;
      width: 80%;
      padding-top: 18px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
}

 
.promoContent .promoBgLeft{
  width: 150px;
  height: 150px;
  background-image: url(asset-path("promoPatternLeft.png"));
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  left: 0px; 
  z-index: 0;
}

.promoContent .promoBgRight{
  width: 150px;
  height: 150px;
  background-image: url(asset-path("promoPatternRight.png"));
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.promoContent p{
  width: 100%;
  font-size: 30px;
  text-align: center;
  position: absolute;
  z-index: 99;
}


.eventBlock{
  height:  350px;
  position: relative;
  text-align: center;
  background-image: url(asset-path("eventBlockBg.jpg"));
  background-size:  auto 100%;
  img{
    width: 100%;
    height: 300px;
  }
}

.eventOverlay{
  background-color: $codeBlue;
  padding-top: 40px;
  padding-left: 20px;
  padding-right:20px;
  width: 73%;
  float:right;
  height: 100%;
  img{
    width: 25%;
    height: auto;
  } 
  p{
    font-size: 12px;
  }
  .eventDescription{
    padding: 20px;
    font-size: 24px;
  }
}

.signupBlock{
  height:  350px;
  background-image: url(asset-path("joinBg.jpg"));
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  .signupOverlay{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    padding: 10px;
    padding-bottom:10px;
    background-color: $codeBlue;
  }
}
.mainBlocks .eventsBlock{
  position: relative;
  height:  150px;
  background-color:white;
}

.eventsBlock .eventsBgRight{
  width: 90px;
  height: 150px;
  background-image: url(asset-path("eventsPatternRight.png"));
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.eventsBlock .eventsBgLeft{
  width: 90px;
  height: 150px;
  background-image: url(asset-path("eventsPatternLeft.png"));
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.eventsBlock p{
  padding-top: 50px;
  color: $codeBlue;
  width: 100%;
  font-size: 30px;
  text-align: center;
  position: absolute;
  z-index: 99;
}






.article{
  margin-bottom: $bMargin;
}

.articleHeader{
  h1{
    margin:0px;
    padding: 0px;
    font-family: "Orbitron";
  }
  img{
   display:block;
   width: 80%;
   margin-top: 8px;
  }
}


.articleText{
  margin-top:20px;
  padding: 0px;
  border-top: 2px solid black;
  p{
    padding: 0px;
  }
}

.articleDate{
  background-color: white;
  font-family:  "Orbitron";
  padding: 10px;

  position: relative;
  top: -10px;
  left:-15px;
}



.codeFooter{
  outline: $outlineWidth solid blue;
  background-color: $codeGrey;
  text-align: center;
  padding-bottom: 30px;
}

.codeFooterInner{
  margin: 10%;
  margin-top: 50px;
  margin-bottom: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: left;
  position: relative;
}
.codeFooterLogo{
  width: 5%;
  min-width: 70px;
  background-color: $codeGrey;
  display: block;
  padding:  10px;
  position: absolute;
  top: -32px;
  left: 45%;
}
.footerQuadrant{
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 20px;
  margin-right:0px;
}

ul.footerLinks{
  list-style: none;
  text-align: left;
  padding-left:0px;
}

ul.footerBenefits{
  margin-top:10px;
}

.twitterLink{
 margin: 4px;
  img{
    width: 20px;
    height: 28px;
  }
  padding: 20px;
  float: left;
  background-color: #444;
}

.facebookLink{
  margin: 4px;
   img{
    width: 20px;
    height: 28px;
  }
 
   padding: 20px;
   float: left;
   background-color: #444;
}

.facebookLink:hover, .twitterLink:hover{
  background-color: #222;
}

.footerBlurb{
overflow: auto;
}


@media all and (max-width: 769px){
  .loginRow, a.loginTrigger, nav.topNav, .jumbotron, .mainBlocks, .article, #carouselTry{
    margin-bottom: $singleColumnModeMargin;
  }
}

#new_organization .help-inline{
  display: block;
  width: 174px;
  color: $codeBlue;
  border: 1px solid #ddd;
  border-top: none;
  padding: 5px;
}
